<ion-view view-title="About us">
	<ion-content class="padding">

		<div style="margin-top: 64px; text-align: center;">
			<img src="img/logo.png" style="max-width: 80%; max-height: 400px;"> </img>
		</div>

		<div style="margin-top: 64px; text-align: center;" ng-click="go()">
			<h2 style="padding-top: 0px; margin-top: 0px;">SEMA mobile reader</h2>
			<p>Version 0.1</p>

			<h3 style="padding-top: 30px; margin-top: 0px;">Schiller Medical</h3>
			<p>4 Rue Pasteur</p>
			<p>67160 Wissembourg, France</p>
		</div>

	</ion-content>
</ion-view>
