<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Lists SEMA interventions -->
  <ion-tab title="Interventions" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/inter">
    <ion-nav-view name="tab-inter"></ion-nav-view>
  </ion-tab>

  <!-- Search for SEMA interventions -->
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Get informations about the app -->
  <!-- <ion-tab title="About" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab> -->

  <!-- Disconnection. Send "Disconnect" to SEMA and go to homepage. -->
  <ion-tab title="Disconnect" icon-off="ion-ios-close-outline" icon-on="ion-ios-close" href="#/intro">
    <ion-nav-view name="intro"></ion-nav-view>
  </ion-tab>

</ion-tabs>
